.graphs-side {
  background-color: transparent;
  display: inline-block;
  width: 75%;
  position: relative;
  margin-top: 10px;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  list-style: none;
}

.graphs li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

canvas {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

.hidden {
  display: none;
}


@media all and (min-width: 3000px) {
  .graphs-side {
    width: 80%;
  }
}

@media all and (max-width: 1295px) {
  .graphs-side {
    width: 72.5%;
  }
}

@media all and (max-width: 1179px) {
  .graphs-side {
    width: 65%
  }

  .graphs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 800px) {
  .graphs-side {
    width: 100%;
  }

  .graphs {
    grid-template-columns: repeat(1, 1fr);
  }
}
