.header {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-list {
    display: flex;
    padding: 5px;
}