*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.popup {
  background-color: #F8F8F8;
  width: 450px;
  padding: 20px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
}

.popup button {
  display: block;
  margin: 0 0 0px auto;
  background-color: transparent;
  font-size: 30px;
  color: grey;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup p {
  font-size: 16px;
  text-align: justify;
  margin: 20px 0;
}

@media all and (min-width: 2200px) {
  .popup {
    width: 600px;
    padding: 30px 40px;
  }

  .popup p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .popup h1 {
    font-size: 2.5rem;
  }
}