.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  height: 100%;
  margin: 0.5cm;
  outline: 5px dashed black;
  border-radius: 5px;
  font-style: italic;
  font-weight: 900;
  font-size: x-large;
  background-color: bisque;
}

.sidebar-title {
  text-decoration: underline;
  font-style: initial;
}

.form {
  display: inline-block;
  margin: 15px;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  height: 20%;
}

.players-container {
  display: inline-block;
  margin: 5px;
  padding: 1px;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 72.5%;
}

.players-container h2 {
  text-decoration: underline;
  font-style: initial;
  margin: 5px;
}

input[type="submit"],
select {
  text-decoration: none;
  background-color: burlywood;
  font-weight: bold;
  border-radius: 5px;
}

input[type="submit"] {
  height: 1cm;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: lightgray;
  opacity: 0.5;
  align-items: baseline;
}

input[type="submit"]:active {
  box-shadow: 2px 2px 5px #fc894d;
}
.players li {
  display: block;
  font-weight: bolder;
}
