.sidebar {
    display: inline-block;
    width: 25%;
    vertical-align: top;;
    height: 100vh;
    margin: 1cm;
    outline: 5px solid black;
    border-radius: 5px;
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
}

.sidebar-title {
    text-decoration: underline;
}

.player-form {
    display: inline-block;
}

.form {
    display: inline-block;
    margin: 1cm;
    padding: calc(1cm / 2);
    align-items: center;
    outline: 3px solid red;
    border-radius: 5px;
    width: 75%;
    height: 20%;
}

.players-container {
    display: inline-block;
    margin: 1cm;
    padding: calc(1cm / 2);
    align-items: center;
    outline: 3px solid blue;
    border-radius: 5px;
    width: 75%;
    height: 55%;
}

.players-container h2 {
    text-decoration: underline;
    margin: 5px;
}

input[type="submit"], select {
    text-decoration: none;
    background-color: burlywood;
    font-weight: bold;
    border-radius: 5px;
}

input[type="submit"] {
    height: 1cm;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: lightgray;
    opacity: 0.5;
    align-items: baseline;
}

.players li {
    display: block;
    font-weight: bolder;
}
